{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="background-image">
        <img class="bg-img" src="/static/img/interstellar.jpg">
    </div>
    <div class="flex-container-outer">
        <div class="flex-container-inner1">
            <div class="flex-item">
                <p>Nasa Photo Index</p>
            </div>
            <div class="flex-container-inner-inner">
                <div class="flex-item">
                    <form action="{{ url_for('submit') }} " method="POST">
                        <label for="requestedDate">Image Date:</label>
                        <input type="date" id="requestedDate" name="requestedDate">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="flex-item">
                    <form action="{{ url_for('handle_button') }}" method="POST">
                        <button type="submit" name="action" value="button_clicked" class="random">random image</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-container-inner2">
            <div class="flex-item">
                <img src="{{ image_url }}" height="800px">
                <p>{{ image_date }} - {{ image_title }}</p>
            </div>
        </div>
    </div>
{% endblock %}